<header class="white band padded">
  <div class="container pad-top">
    <div class="row">
      <div class="one third padded">

        <h1 class="responsive">
          <a href="#">
            ECE Projects Repository
          </a>
        </h1>

      </div>
      <div class="two thirds padded">
        <nav class="inline pull-right">
          <ul>
            <%= render :partial => 'login_items' %>


          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
